<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hi User, This is the Index Page</h1>
    <p>Do you want to explore other Pages Made by Node JS only?</p>
    <ul>
      <li>/new-page</li> <br>
      <li>/subdir/index</li> <br>
      <li>/old-page: would cause a redirect to /new-page</li> <br>
      <li>/data/data.json</li> <br>
      <li>/data/data.txt</li>
    </ul>
    <p>Try it out!!!👋😁</p>
    <p>#simplefrontend #complexbackend</p>
    <h1>WHAT AM I USING IN THIS BASIC WEB</h1>
    <span>
        1.) I am using Node JS Server Side, so yes, this page is runnning on a server
    </span> <br>
    <span>
        2.) I am using Node JS fs module to Read and Append the HTML Files
    </span> <br>
    <span>
        3.) I am also using the Emitter Module in Node JS to listen to Node JS files
    </span><br>
    <span>
        4.) I am also using a Path Module, that is the main reason you are able to route through different Pages
    </span><br>
    <span>
        5.) One amazing thing about the JSON route in this page is that it is parsed in the right way
    </span><br> <br>
    <div>
        <p>This Page was made with 💖 by Amanze Bruno</p>
    </div>
  </body>
</html>
